{% extends 'itembank/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">{{ header|capfirst }}</h1>
             <div class="btn-group mr-2">
                 <a href="{% url specific_url %}">
                    <button class="btn btn-sm btn-outline-secondary">Add an item</button>
                </a>
            </div>
        </div>
        Total number of items: {{ list_count }}
        {% render_table table %}


{% endblock %}
