{% extends 'itembank/base.html' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Item Bank Index Page</h1>

    </div>
    LEVEL COUNT<br>
    {{ level_count }}<br><br>
    ITEM MODELS<br>
    {{ item_models }}<br><br>
    NON ITEM Models <br>
    {{ non_item_models }}<br><br>
    APP MODELS<br>
    {{ app_models }}<br><br>
    APP MODEL ITEMS <br>
    {{ app_model_items }}<br><br>
    levels and skills<br>
    {{ levels_and_skills }}



{% endblock %}
