{% extends 'itembank/base.html' %}

{% block content %}

    <div id="container"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Item Bank Index Page</h1>
    </div>
    <div class="row justify-content-center">
    <div class="col-8">

    {% for key, value in count_output.items %}
        <table  class="table table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="row">
                <h4>{{ key|capfirst }}</h4>
            </th>
        </tr>
        </thead>
        <tr><td>
        <table style="width:100%">
            <tr>

                {% for key2, value2 in value.items %}
                    <td class="table-active"><h5>{{ key2 }}</h5></td>
                    <td><h5>{{ value2 }}</h5></td>
                    <td>&nbsp;&nbsp</td>
                {% endfor %}

            </tr>
        </table>
        </td></tr>
        </table>
        <div id='{{ key }}'></div>
        <script>
        Highcharts.chart('{{ key }}', {
            chart: {
                type: 'column'
            },
            title: {
                text: '{{ key|capfirst }}'
            },
            xAxis: {
                categories: [
                    {% for key2, value2 in value.items %}
                        '{{ key2 }}',
                    {% endfor %}
                        ],
                title: {
                    enabled: true,
                    text: 'CEFR Level',
                    style: {
                        fontWeight: 'normal'
                    }
                }
            },
            yAxis: {
                title: {
                    enabled: true,
                    text: 'Items created',
                    style: {
                        fontWeight: 'normal'
                    }
                }
            },
            series: [{
                showInLegend: false,
                name: 'Items Created',
                data: [{% for key2, value2 in value.items %}{{ value2 }},{% endfor %}]
            },
            ]
        });
        </script>

    {% endfor %}
    </div>
    </div>
{% endblock %}
